<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/css/custom.form.css}">
    <style id="layuimini-bg-color">
    </style>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info">
  <input name="id" hidden/>
    <div class="layui-form-item">
      <label class="layui-form-label">姓名</label>
      <div class="layui-input-block">
        <input type="principalID" name="principalID" placeholder="请输入姓名" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">委托单位</label>
      <div class="layui-input-block">
        <input type="requester" name="requester" placeholder="请输入委托单位" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">送样时间</label>
      <div class="layui-input-block">
        <input type="sampleDeliveryTime" name="sampleDeliveryTime" placeholder="请输入送样时间" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">委托人</label>
      <div class="layui-input-block">
        <input type="client" name="client" placeholder="请输入委托人" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">样品数量</label>
      <div class="layui-input-block">
        <input type="samplesNum" name="samplesNum" placeholder="请输入样品数量" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">品名</label>
      <div class="layui-input-block">
        <input type="productName" name="productName" placeholder="请输入品名" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">报告形式</label>
      <div class="layui-input-block">
        <input type="reportForm" name="reportForm" placeholder="请输入报告形式" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">图面</label>
      <div class="layui-input-block">
        <input type="drawing" name="drawing" placeholder="请输入图面" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">依据标准</label>
      <div class="layui-input-block">
        <input type="accordingStandard" name="accordingStandard" placeholder="请输入依据标准" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">试验项目（宏观委托）</label>
      <div class="layui-input-block">
        <input type="pilotProjects" name="pilotProjects" placeholder="请输入试验项目（宏观委托）" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">计划完成日期</label>
      <div class="layui-input-block">
        <input type="plannedCompletion" name="plannedCompletion" placeholder="请输入计划完成日期" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">规格</label>
      <div class="layui-input-block">
        <input type="specification" name="specification" placeholder="请输入规格" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">检件编号</label>
      <div class="layui-input-block">
        <input type="inspectionNum" name="inspectionNum" placeholder="请输入检件编号" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">材质</label>
      <div class="layui-input-block">
        <input type="material" name="material" placeholder="请输入材质" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">接收人</label>
      <div class="layui-input-block">
        <input type="receiver" name="receiver" placeholder="请输入接收人" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">接收日期</label>
      <div class="layui-input-block">
        <input type="receiveDate" name="receiveDate" placeholder="请输入接收日期" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">委托日期</label>
      <div class="layui-input-block">
        <input type="clientDate" name="clientDate" placeholder="请输入委托日期" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="macroCommission:list">
    <form class="layui-form ">
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <label class="layui-form-label">名称</label>
          <input type="text" id="key" class="layui-input"  autocomplete="off" placeholder="请输入">
        </div>

      </div>

      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </form>
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container oper">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="macroCommission:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="macroCommission:delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="updateDetection" shiro:hasPermission="macroCommission:updateDetection">宏观委托数据更新</button>
    <button class="layui-btn layui-btn-danger" lay-event="generateMacroReport" id="ID-generate" shiro:hasPermission="macroCommission:generateReport">宏观报告生成</button>

  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="macroCommission:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="macroCommission:delete">删除</a>
</script>

</body>
</html>
<script th:inline="javascript" type="text/javascript">
  var ctx = '[[@{/}]]'.replaceAll("\"", "").replace('//', '/');
</script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/core.util.js}"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;

  layui.use(['table', 'layer', 'laydate'], function () {

    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: ctx + 'macroCommission/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'id', title: 'ID', sort: true},
          {field: 'principalID', title: '姓名', sort: true},
          {field: 'requester', title: '委托单位', sort: true},
          {field: 'sampleDeliveryTime', title: '送样时间', sort: true},
          {field: 'client', title: '委托人', sort: true},
          {field: 'samplesNum', title: '样品数量', sort: true},
          {field: 'productName', title: '品名', sort: true},
          {field: 'reportForm', title: '报告形式', sort: true},
          {field: 'drawing', title: '图面', sort: true},
          {field: 'accordingStandard', title: '依据标准', sort: true},
          {field: 'pilotProjects', title: '试验项目（宏观委托）', sort: true},
          {field: 'plannedCompletion', title: '计划完成日期', sort: true},
          {field: 'specification', title: '规格', sort: true},
          {field: 'inspectionNum', title: '检件编号', sort: true},
          {field: 'material', title: '材质', sort: true},
          {field: 'receiver', title: '接收人', sort: true},
          {field: 'receiveDate', title: '接收日期', sort: true},
          {field: 'clientDate', title: '委托日期', sort: true},
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          toUnDisabled();
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          setTimeout(function () {
            form.val('info', {
              "test": "test"
              , "id": ""
              , "principalID": ""
              , "requester": ""
              , "sampleDeliveryTime": ""
              , "client": ""
              , "samplesNum": ""
              , "productName": ""
              , "reportForm": ""
              , "drawing": ""
              , "accordingStandard": ""
              , "pilotProjects": ""
              , "plannedCompletion": ""
              , "specification": ""
              , "inspectionNum": ""
              , "material": ""
              , "receiver": ""
              , "receiveDate": ""
              , "clientDate": ""
            });
          }, 200);
          break;
        case 'generateMacroReport':
          generateMacroReport();
          break;
        case 'updateDetection':
          updateDetection();
      };
    });

    function updateDetection(){
      CoreUtil.sendGet(ctx + "macroCommission/updateDetection",function (res) {
        layer.msg(res.msg, {time:1000},function () {
          search();
        });
      });
    }


    function generateMacroReport()
    {
      var method = 'get';//请求方法
      var url = ctx + "macroCommission/generateReport";//请求url
      var xhr = new XMLHttpRequest();//定义一个XMLHttpRequest对象
      xhr.open(method, url, true);
      xhr.responseType = 'blob';//设置ajax的响应类型为blob
      xhr.setRequestHeader('Content-Type', 'application/json;charset=utf-8');
      xhr.setRequestHeader("authorization", CoreUtil.getData("access_token"));
      xhr.onload = function ()//当请求完成，响应就绪进入
      {
        if (this.status == 200)//当响应状态码为200时进入
        {
          var blob = this.response;//获取响应返回的blob对象
          //这一段用来判断是否是IE浏览器，因为下面有些代码不支持IE
          if (typeof window.navigator.msSaveBlob !== 'undefined')
          {
            window.navigator.msSaveBlob(blob, "test.xlsx");
            return;
          }
          var a = document.createElement('a');//在dom树上创建一个a标签
          var url = window.URL.createObjectURL(blob);//我的理解是生成一个相对于浏览器的虚拟url，用于指向传入的blob对象，让浏览器可以通过这个url找到这个blob对象
          a.href = url;//将url赋值给a标签的href属性
          a.download = 'NPI_PROJECT.xlsx';//设置设置下载文件的名称
          a.click();//主动触发a标签点击事件
        }
      };
      xhr.send(JSON.stringify({
        name: '',
        status: ''
      }));//附带参数发送请求

    }
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'look':
          backshow(data);
          toDisabled();
          break;
        case 'edit':
          backshow(data);
          $(".title").html("编辑");
          toUnDisabled();
          break;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost(ctx + "macroCommission/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete(ctx + "macroCommission/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost(ctx + "macroCommission/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut(ctx + "macroCommission/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        key: $("#key").val()
      }
      , page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };

  //回显
  function backshow(data) {
    $(".table_div").hide();
    $(".operation").show();
    $(".title").html("查看");
    setTimeout(function () {
      form.val('info', {
        "test": "test"
        , "id": data.id
        , "principalID": data.principalID
        , "requester": data.requester
        , "sampleDeliveryTime": data.sampleDeliveryTime
        , "client": data.client
        , "samplesNum": data.samplesNum
        , "productName": data.productName
        , "reportForm": data.reportForm
        , "drawing": data.drawing
        , "accordingStandard": data.accordingStandard
        , "pilotProjects": data.pilotProjects
        , "plannedCompletion": data.plannedCompletion
        , "specification": data.specification
        , "inspectionNum": data.inspectionNum
        , "material": data.material
        , "receiver": data.receiver
        , "receiveDate": data.receiveDate
        , "clientDate": data.clientDate
      });
    }, 200);
  }

  //禁用输入
  function toDisabled() {
    $(".oper").hide();
    $(".disabled").each(function (index, elem) {
      $(elem).attr("disabled", "")
    })
  }

  //放开输入
  function toUnDisabled() {
    $(".oper").show();
    $(".disabled").each(function (index, elem) {
      $(elem).removeAttr("disabled", "")
    })
  }
</script>